CHAPA_SECRET_KEY=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
EMAIL=
PASSWORD=
DB_URL=
SECRET=
PORT=4000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:3000,https://all-in-one-rental.netlify.app
JWT_EXPIRES_IN=7d
BASE_URL=http://localhost:4000
